# Ignore node_modules, as they will be installed in the Docker image
node_modules/

# Ignore the dist/ directory, as it is the compiled output of the Angular app
dist/

# Ignore log files
*.log

# Ignore temporary files
*.tmp

# Ignore IDE-specific files and folders
.vscode/
.idea/

# Ignore test files
*.spec.ts
*.e2e.ts
